h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/clock_blur.png');
    background-size: cover;
    background-repeat: no repeat;
    background-color: #282828;
    color: #ebdbb2; /* Gruvbox foreground color */
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #3c3836; /* Gruvbox background color */
    border-radius: 10px;
    display: flex;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 255px;
}

.services {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card:hover {
    transform: translateY(-5px);
}

.service{
    font-wight: bold;
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.online {
    background-color: #83a598; /* Gruvbox green */
}

.offline {
    background-color: red;
}


/*Attempting to handle different screen sizes */

/* Additional styles for responsiveness */
@media screen and (max-width: 768px) {
    .services {
        justify-content: center;
    }
    .card {
        flex-basis: calc(20% - 20px);
        max-width: 200px;
    }
    
}

@media screen and (max-width: 480px) {
    .services {
        justify-content: center;
    }
    .card {
        flex-basis: calc(33% - 30px);
        max-width: 150px;
    }
}

