{{define "layout" }}
<! Header info -->

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type="text/css" href="static/css/gruvbox.css">
        <script src ="static/javascript/original.js"></script>
        <title>Service Status</title>
    </head>

    <body>
        {{ template "content" .}}
    </body>
</html>

{{end}}
